@import "base/resets";
@import "base/vars";
@import "components/carrousel";
@import "components/cards";
@import "components/nav";
@import "components/footer";
@import "layout/index";
@import "layout/mediaq";
@import "layout/form";
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: black;
}

.th_ {
  padding-bottom: 4%;
  font-size: 270%;
  font-family: "Bona Nova SC", serif;
}
h2 {
  font-family: "Bona Nova SC", serif;
}
.sec_a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
}
.c_text {
  text-align: center;
}
.lorem_1 {
  padding-top: 15px;
  margin-right: 15%;
  margin-left: 15%;
}
.div_imagen {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.img_1 {
  width: 20%;
  padding-top: 20px;
}
.sec_b {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
}
.d_text {
  text-align: center;
}
.cont_imgs {
  display: flex;
  justify-content: center;
}

.img_b-h {
  background-color: #eaeaea;
  border-radius: 50% 12px;
  transition: all 0.8s ease;
}
.img_b-h:hover {
  padding: 10px;
}

.shop {
  flex-wrap: wrap;
}
.img_b {
  width: 20%;
  padding-right: 5%;
  margin-top: 5%;
  padding: 20px;
}

.grid-container {
  display: grid;
  padding-top: 5%;
  width: 80%;
  margin: 2% auto 25%;
  grid-template-rows: repeat(2, 45vh);
  grid-template-columns: repeat(2, 2fr);
  gap: 30px;
}
.imagen {
  height: 100%;
  width: 100%;
}
.grid-div {
  display: flex;
  align-items: center;
}
.item-txt {
  text-align: center;
  font-size: 1.2rem;
}
.th-us {
  padding-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
}
.item-iframe {
  height: 100%;
  width: 100%;
}
.item-img {
  height: 100%;
  width: 100%;
}

.img {
  height: 100%;
  width: 100%;
}
