.main_formulario {
  background-image: url(../assets/fondo_f.jpg);

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  .grid-container-f {
    display: grid;
    width: 80%;
    margin: 15% auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    background-color: #1d1d20e1;
    border-radius: 50px;

    .contenedor-form {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .txt_refe {
      color: $paleta_1;
    }
  }
}
.car-conteiner {
  display: flex;
  align-items: center;
  height: 600px;
  .carousel-inner {
    height: 165px;
    .carousel-item {
      text-align: center;
      .text_car {
        color: $paleta_1;
      }
    }
  }
}
