@media (max-width: 992px) {
  .navbar {
    .links,
    .profile {
      display: none;
    }
    .toggle_btn {
      display: block;
    }
  }

  .foot-row {
    text-align: center;
  }
  .foot-links {
    width: 100%;
    margin-bottom: 15px;
  }

  .checkbtn {
    display: block;
    padding-left: 50px;
  }
  .ul-header {
    position: fixed;
    width: 100%;

    background-color: #2d2d2d;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .li-header {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .a-header {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 100%;
  }

  .main_formulario {
    display: block;
    .car-conteiner {
      display: none;
    }
  }

  .grid-container {
    display: block;
  }
  .cont_imgs {
    flex-direction: column;
    align-items: center;
  }
  .img_b {
    height: 100%;
  }
}
